.header {
    display: flex;
    justify-content: center;
    gap: 100px  
}

button {
    display: flex;
    align-self: center;
    align-items: center;
    height: 25px;
}
.gridContainer {
    border: 1px solid black;
    width: 900px;
    height: 900px;
    margin: auto;
}

.gridItem {
    border: 1px solid blue;
    width: 100px;
    height: 100px;
}